﻿@model PagedList.IPagedList<FizzBuzz.Models.IFizzBuzz>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <fieldset>
        <legend>Fizz Buzz</legend>
    
        <ul>
            @foreach(FizzBuzz.Models.IFizzBuzz fb in Model)
            {
                if(fb is FizzBuzz.Models.FizzEntity)
                {
                    <li style="color:blue">@fb.FizzbuzzOutput</li>
                }
                else if(fb is FizzBuzz.Models.BuzzEntity)
                {
                    <li style="color:green">@fb.FizzbuzzOutput</li>
                }
                else if( fb is FizzBuzz.Models.FizzBuzzEntity)
                {
                    <li><span style="color:blue">@fb.FizzbuzzOutput.Substring(0, 4)</span> <span style="color:green">@fb.FizzbuzzOutput.Substring(4, 5)</span></li>
                }
                else
                {
                    <li>@fb.FizzbuzzOutput</li>
                }
            }
        </ul>
    </fieldset>
    <div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
     
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Details", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "Details", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }
     
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Details", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Details", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>

    <p>
         @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
