﻿@model FizzBuzz.Models.FizzBuzzInput

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h4>Fizz Buzz Input Screen</h4>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary();

            <label>Enter the number</label>
            @Html.TextBoxFor(m => m.EnteredNumber);
            @Html.ValidationMessageFor(m => m.EnteredNumber);
            <input type="Submit" value="submit" />
        }
    </div>
</body>
</html>
